<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatable" content="IE-edge">
        <meta name="viewport" content="width-device-width, initial-scale=1">
        <title>File Input Example</title>
    </head>
    <body>
        <div class="container">
            <h1>File Input</h1>
            <p>     </p>
            
            <form method="POST" action="/upload" enctype="multipart/form-data">
            <div class="form-group">
                <label for="inputFile">File input</label>
                <input type="file" name="inputFile">
            </div> 
            <p>       </p>
            <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </body>
</html>